<!-- Partials - Reutilização de código repetido em todas as páginas -->
<%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>
<div class="form">
	<h2>Update <%= users.nickname %></h2>
	<form method="post" action="<%=`/update-user/${users._id}?_method=PUT`%>">
		<label for="nickname">Nickname:</label>
		<input
			type="text"
			id="nickname"
			name="nickname"
			value="<%= users.nickname %>"
			required
		/>
		<label for="email">Email:</label>
		<input
			type="email"
			id="email"
			name="email"
			value="<%= users.email %>"
			required
		/>
		<label for="password">Password:</label>
		<input
			type="password"
			id="password"
			name="password"
			value="<%= users.password %>"
			required
		/>
		<button>Update</button>
	</form>
</div>
<%- include('./partials/footer.ejs') %>

<script>
	const form = document.querySelector('form');

	form.addEventListener('submit', (e) => {
		e.preventDefault();

		// get the values
		const nickname = form.nickname.value;
		const email = form.email.value;
		const password = form.password.value;

		console.log(nickname, email, password);
	});
</script>
